* {
    box-sizing: border-box;
}

body {
    /* background-color: brown; */
    background: url("./examples/mandy-beerley-9GDa7nK_4q0-unsplash.jpg") no-repeat; 
    background-size: 100%;
    z-index: 1;
    font-family: 'Sansita Swashed', cursive;
}

h1 {
    font-size: 1.9rem;
    
}
#search_container {
    text-align: center;
    position: flex;
}

.final_container {
    text-align: center;
    position: flex;
}

#images {
    position: flex;
}
#stop {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    color: #ff0000
}
#stop:focus {
    outline: 1;
  }