* {
    box-sizing: border-box;
}

body {
    background-color: brown;
}

h1 {
    font-size: 1.9rem;
    
}
#search_container {
    text-align: center;
    position: flex;
}

.final_container {
    text-align: center;
    position: flex;
}

#images {
    position: flex;
}